

body {
    background-image: url('../img/bg.jpg');
    size: 100vw 100vh;
}

h1 {
    color:tomato;
    font-weight: 900;
}

#editor {
    margin-bottom: 25px;
}

#formulaire {
    border:1px solid black;
    border-radius:7px;
    width:40%;
    min-width: 400px;
    margin-left:30%;
    padding:10px;
    background-color: rgba(17, 118, 212, 0.473);
    box-shadow: 30px 30px 45px black;
}

.postit {
    background-color: #ffffa55e;
    border-radius:3px;
    width: 25%;
    min-width:300px;
    margin-left:15px;
    padding:15px;
    display:inline-block;
    border:1px solid darkgray;
    box-shadow: 15px 15px 25px grey;
    text-align: center;
}

.postit-titre {
    font-size:30pt;
    font-weight: 700;
    text-decoration: underline tomato;
    margin-bottom:8px;
}

.postit .datetime {
    font-size: x-large;
}

@media print {
    body{
        background-image:none;
        background-color:cadetblue;
        color:tomato;
    }
}